@font-face {
    font-family : Roboto;

    src:url("/styles/Roboto/Roboto-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family : Merriweather;
    src:url("/styles/Merriweather/Merriweather-Black.ttf")
}

@font-face {
    font-family : Monocraft;
    src:url("/styles/Monocraft.ttf")
}

* {
    box-sizing: border-box;
}

.background {
    background-image: url("/img/b10.webp");
    /* background-color: #242582; */
}

.overlay {
    color: rgb(238, 78, 52);
    background-color: rgba(241, 116, 97, 0.1);
    background-blend-mode: multiply;
}

.name {
    font-size:40px;
    color: #000000;
    font-family: Roboto;
}


.name-mobile {
    font-size:80px;
    color: #000000;
    font-family: Roboto;
}

.column {
    float: left;
    height: 80vh;
}

.left, .right {
    width: 25%;
}
.middle{
    width: 50%;
}

.status {
    color: #101820FF;
    font-family: Roboto;
    font-size: 15px;
}

.status-mobile {
    color: #101820FF;
    font-family: Roboto;
    font-size: 30px;
}

.row {
    vertical-align: top;

}

.top, .bottom {
    height: 33.33%;
}

.rowmiddle {
    height: 33.33%;
}

.center{
    text-align: center;
}

.scale {
    font-size: 40px;
}

.fa-circle {
    color: black;
}

a:active {
    color:inherit;
}

.link {
    display: inline;
    margin-left : 25px;
    color: black;
    font-family:  sans-serif;

}

a:visited {
    color:inherit;
}

a:link {
    text-decoration: none;
    color:rgb(46, 45, 45);
}


#linkedin{
    margin-top: 50px;
    /* border : 1px solid black; */ 
    transform: scale(1);
    transition: all ease .3s;
}

#linkedin-mobile{
    /* border : 1px solid black; */ 
    transform: scale(1);
    transition: all ease .3s;
}

#linkedin:hover {
    transform: scale(1.15);
}

#github{
    /* border : 1px solid black; */ 
    transform: scale(1);
    transition: all ease .3s;
}

#github:hover {
    transform: scale(1.15);
}




.inner-circle{
    background-image: url("/img/me.webp"), url("/img/circleback.pg") ;
    background-size: cover, cover;
    background-position: 15%;
    display:inline-block;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: rgb(0,0,0,0.1);
    border: 2px dashed black;
  }
  
.inner-circle-mobile{
    background-image: url("/img/me.png"), url("/img/circleback.pg") ;
    background-size: cover, cover;
    background-position: 15%;
    display:inline-block;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-color: rgb(0,0,0,0.1);
    margin-top: 100px;
    border: 2px dashed black;
  }
.arrow {
    margin-top: 25px;
    text-decoration: none;
    color:rgb(0,0,0,0.8);
}
.arrow:hover {
    color:grey;
}
.box {
    width:fit-content;
    height: fit-content;
    border-radius: 10px;
    margin: 10px;
}



a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
}