* {
    box-sizing: border-box;
}

.column {
    float: left;
    height: 90vh;
}

.left, .right {
    width: 25%;
}

.middle{
    width: 50%;
}

.status {
    color: grey;
}

.row {
    vertical-align: top;

}

.top, .bottom {
    height: 33.33%;
}

.rowmiddle {
    height: 33.33%;
}

.center{
    text-align: center;
}

.image {
    scale: 350%;
}

.fa-circle {
    color: black;
}

a:active {
    color:inherit;
}

.link {
    display: inline;
    margin-left : 25px;
    color: black;
    font-family:  sans-serif;

}

a:visited {
    color:inherit;
}

a:link {
    text-decoration: none;
    color:black;
}


#linkedin{
    margin-top: 50px;
    /* border : 1px solid black; */

}



.inner-circle{
    background: url("/img/me.png");
    background-size: cover;
    background-position: 15%;
    display:inline-block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    margin-top: -100px;
  }
.arrow {
    margin-top: 25px;
   
}
.box {
    width:fit-content;
    height: fit-content;
    border-radius: 10px;
    margin: 10px;
}



a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
}