* {
    box-sizing: border-box;

}
body {
    /* background-color: rgb(236, 198, 128); */
}

@font-face {
    font-family : Roboto;

    src:url("/styles/Roboto/Roboto-Bold.ttf");
    font-display: swap;
}

/* Style the top navigation bar */
.navbar {
    overflow: hidden; /* Hide overflow */

  }
  
  /* Right-aligned link */
  .navbar a {
    float: right; 
    display: block;
    text-align: center;
    padding: 10px;
    padding-top: 25px;
    font-family: Roboto;
    font-size: 20px;
  }
  
 

.main {
    text-align: center;
}

.main h1 {
    font-size: 40px;
    font-family: Roboto;
}


.bio {
    font-family: Roboto;
    color: rgba(128, 128, 128, 0.7);
}

.circle{
    background-image: url("/img/circle.webp");
    background-size: cover;
    /* background-position: 10%; */
    display:block;
    margin: auto;
    margin-top: 50px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.301);
    border: 2px dashed black;
  }

#linkedin{
    /* border : 1px solid black;  */
    transform: scale(1);
    transition: all ease .3s;
}

#linkedin:hover {
    transform: scale(1.15);
}

.icons{

    margin-top: -150px;
    margin-left: 10px;
}


#github:hover {
    transform: scale(1.15);
}

.box {
    width:fit-content;
    height: fit-content;
    border-radius: 10px;
    margin: 10px;
}

.arrow {
    margin-top: 25px;
    text-decoration: none;
    color:rgb(0,0,0,0.8);
}

.arrow:hover {
    color:grey;
}

a:visited {
    color:inherit;
}

a:active {
    color:inherit;
}

a:link {
    text-decoration: none;
    color:rgb(46, 45, 45);